server:
  port: 8082

spring:
  application:
    name: pet-service
  datasource:
    url: jdbc:postgresql://localhost:5432/petauthority_db
    username: petadmin
    password: petpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
