name: Mobile CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'mobile/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'mobile/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0' # Adjust to match your local version if needed
        channel: 'stable'
        cache: true

    - name: Install dependencies
      run: flutter pub get
      working-directory: mobile

    - name: Analyze
      run: flutter analyze
      working-directory: mobile

    - name: Run tests
      run: flutter test
      working-directory: mobile
